trash/

conf.json*

# macOS file:
.DS_Store

# auto created when running on desktop:
internal_filesystem/SDLPointer_2
internal_filesystem/SDLPointer_3

# config files etc:
internal_filesystem/data
internal_filesystem/sdcard
internal_filesystem/tests

internal_filesystem_excluded/

# these tests contain actual NWC URLs:
tests/manual_test_nwcwallet_alby.py
tests/manual_test_nwcwallet_cashu.py
tests/manual_test_nwcwallet_coinos.py

# Python cache files (created by CPython when testing imports)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# these get created:
c_mpos/c_mpos
